{% load static %}
<header class="flex justify-center items-center bg-white w-auto h-[10vh] border-y-2 border-black top-0 left-0 sticky z-50">

    <div class="w-1/3 pl-6">
        <nav>
            <a href="#"><i class="fa-solid fa-envelope pr-3"></i>Contactanos </a> 
        </nav>
    </div>
    <div class="w-1/3 flex justify-center ">
        <a href="/" class="flex justify-center"><img src="{% static 'classroomvr\media\logomalo.png' %}" width="60px"></img>
        <h2  class="mt-4 pl-5"> Institut de formació VRoom </h1></a>
    </div>
    <div class="w-1/3 flex justify-end pr-6">
        <nav class="flex justify-center align-center space-x-4">
            {% if request.user.is_authenticated %}
                <p>{{ request.user.username }}</p>
                <p>{{ request.user.school }}</p>
                <p>{{ actualCourse.name }}</p>
                <p>{{ actualUserRol.course_role }}</p>
                <p><a href="{% url 'logout' %}">Log out</a></p>
            {% else %}
                <a href="login">No heu iniciat sessió<i class="fa-solid fa-arrow-left pl-3"></i></a>
            {% endif %}
            
        </nav>
    </div>

</header>