{% extends 'base_template.html' %}
{% load static %}
{% block title %} Ejercicio {% endblock title %}
{% block body_data %}
<div class="w-full min-h-[80vh] bg-[#f9d7c0] m-auto flex justify-center align-center overflow-auto">
    <div class="w-2/5 h-auto bg-white mt-6 mb-6 pb-[30px] border-2 border-black rounded-2xl flex flex-col items-center ">
		{% include 'breadcrumbs.html' %}
		<div class="w-full mt-7 flex justify-between">
			<button class="ml-10 bg-white border-[3px] border-black border-radius rounded-xl w-24 h-9 pl-1 self-center hover:bg-[#ffa76c] hover:text-white"><a href="/exercise/{{Task.pk}}/{{prevalumn}}"><i sizes="32x32" class="fa-solid fa-arrow-left "></i></a></button>
			<h1 class="font-bold text-3xl">{{ Task }}</h1>
			<button class="mr-10 bg-white border-[3px] border-black border-radius rounded-xl w-24 h-9 pl-1 self-center hover:bg-[#ffa76c] hover:text-white"><a href="/exercise/{{Task.pk}}/{{nextalumn}}"><i class="fa-solid fa-arrow-right"></i></a></button>
		</div>
			<div class="w-3/4 flex flex-col mt-10 ">

				<div class="w-full flex flex-row ">
					<div class="w-[43%] flex">
						<label class="mb-[4.3vh] ml-auto">Alumno:</label>
					</div>
					<p  class="mb-[4vh] ml-[8%]" name="alumno">{{Alumn.username}}</p>
				</div>

				<div class="w-full flex flex-row  ">
					<div class="w-[43%] flex">
						<label class="ml-auto mb-[4.3vh]">Correo:</label>
					</div>
					
					<p class=" mb-[4vh] ml-[8%]" name="correo">{{Alumn.email}}</p>
				</div>
				<div class="w-full flex flex-row">
					<div class="w-[43%] flex">
						<label class="ml-auto mb-[4.3vh]">Archivo:</label>
					</div>
					
					<a href="/{{Delivery.file}}" class="ml-[8%] pl-2 mb-[3vh] underline text-orange-600 hover:text-orange-700 active:text-orange-900 visited:text-orange-300">{{Delivery.file}}</a>

				</div>
				<div class="w-full flex flex-row">
					<div class="w-[43%] flex">
						<label class="ml-auto mb-[4.3vh]">Puntuacion:</label>
					</div>
					
					<input class="w-[10%] border-black border-2 ml-[8%] h-9 pt-1 pl-2 pr-2 border-radius rounded-xl mb-[3vh] overflow-auto" type="number" id="score" min="0" max="10" value="{{Delivery.score}}">

				</div>
				<div class="w-full flex flex-row  mb-[1.3vh]">
					<div class="w-[43%] flex">
						<label class="ml-auto mb-[4.3vh]" >Comentario profesor:</label>
					</div>
					
					<textarea rows="2" class="border-black border-2 ml-[8%] w-[50%] h-[90%] border-radius rounded-xl p-2 mb-[4vh]" type="text" id="comprof">{{Delivery.professor_commentary}}</textarea>

				</div>
				<div class="w-full flex flex-row">
					<div class="w-[43%] flex">
						<label class="ml-auto mb-[4.3vh]">Comentario alumno:</label>
					</div>
					<p class="ml-[8%]" name="comAlum">{{Delivery.student_commentary}}</p>
				</div>
				</div>
				<input class="w-40 cursor-pointer border-black border-2 border-radius rounded-xl pl-2 pr-2 h-12 pt-1 mb-3 hover:transition duration-1000 hover:bg-[#ffa76c] hover:text-white" type="submit" name="" id="enviar">

			</div>
		
	</div>
</div>
<div  id="alert" class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md relative" role="alert">
	<div class="flex justify-center">
	  <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
	  <div>
		<p class="font-bold">Our privacy policy has changed</p>
		<p class="text-sm">Make sure you know how these changes affect you.</p>
	  </div>
	</div>
	<p id="cerrar" class="absolute top-1.5 right-1.5">X</p>
  </div>
{% endblock body_data %}
{% block js %}
<script
		src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
			$('#alert').hide()
            $('#enviar').on('click',function(){
                let score = $('#score').val();
                let comprof = $('#comprof').val();
                let deliveryid = {{ Delivery.pk }};
                $.ajax({
                    url: "/update/"+deliveryid+"/"+score+"/"+comprof,
                    method : 'POST',
                })
				$('#alert').show()
            });
			$('#cerrar').click(function() {
                $('#alert').css('display','none')
            });
        })
</script>
{% endblock js %}



